@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap');

body{
    margin: 0;
}

html{
    font-size: 16px;
    font-family: 'Chakra Petch', sans-serif;
    background-color: lavender;
}

img{
    max-height: 100%;
    max-width: auto;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lavender;
    height: 8vh;
}

.menu li{
    float: right;
    padding: 10px;
}

.menu li a{
    display: block;
    color: black;
    text-align: center;
    justify-content: center;
    padding: 11px;
    text-decoration: none;
}

.menu li a:hover{
    background-color: lavenderblush;
    border-radius: 5%;
}

.landingPage{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.landingPage p{
    height: 40px;
    color: white;
    font-size: 35px;
}

.welcomeButton{
    background-color: black;
    width: 100px;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5%;
    text-align: center;
    filter: drop-shadow(1px 2px 1px white);
    cursor: pointer;
    font-size: 40px;
}

.welcomeButton:hover{
    background-color: white;
    
}

.closeLanding{
    height: 0vh;
    overflow: hidden;
    transition: height 1s;
    z-index: 99;
}

.wrapper{
    display: grid;
    grid-template-rows: 8vh 92vh;
    grid-template-columns: auto;
    grid-template-areas: 
        "header"
        "main"
    ;
}

header{
    grid-area: header;
    height: 8vh;
    width: 100vw;
    position: fixed;
    z-index: 90;
}

.main{
    grid-area: main;
    /* background-color: lavenderblush; */
    background-color: lavenderblush;
}

.commLab{
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.commLabLeft{
    flex: 1;
    grid-area: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 20px;
    height: 60vh;

    text-align: center;
}

.commLabLeft p, h2{
    width: 40vw;
}

.commLabRight{
    flex: 1;
    margin-top: 100px;
    grid-area: right;
    display: grid;
    row-gap: 75px;
    column-gap: 75px;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    grid-template-areas: 
        "e p1 e"
        "p2 e p3"
        "e p4 e"
    ;
}

.e{
    width: 100px;
    height: 100px;
}

.commLabProject{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: lavender;
    margin: 10px;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
    transform: scale(1);
    box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.6);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 3px;
}

.commLabProject img{
    max-width: 100%;
    max-height: 100%; 
    border-radius: 50%;
}

.commLabProject:hover{
    transform: scale(1.5);
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(187, 187, 187, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(187, 187, 187, 0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(187, 187, 187, 0.6);
		transform: translatey(0px);
	}
}

.projects{
    width: 100vw;
    height: auto;
    background-color: lavenderblush;
    padding-top: 8vh;
}

.projectInfo{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}

.projectImage{
    height: 45vh;
    padding-right: 50px;
    padding-left: 50px;
}

.projectImage img{
    border-radius: 15px;
}

.projectText{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 20px;
}

.aboutMe{
    width: 100vw;
    height: 88vh;
    padding-top: 8vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: lavenderblush;
}

.myPic{
    width: 250px;
    height: 250px;
    background-color: bisque;
    box-shadow: 10px 1px 10px bisque;
    border-radius: 50%;
}

#picture{
    border-radius: 100%;
}

.myName{
    height: 30px;
    width: 200px;
    text-align: center;
    /* background-color: blanchedalmond; */
}

.moreInfo{
    width: 90vw;
    height: auto;
    background-color: lightpink;
    backdrop-filter: opacity(3%);
    display: grid;
    grid-template-areas:
        "skillls work more"
    ;
    padding-left: 5vw;
    border-radius: 10px;
}

.moreInfo a{
    color: black;
}

.footer{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 12px;
    margin: 0px 0px 0px 50px;
    padding: 0;
}

@media screen and (max-width: 920px){
    html{
        font-size: 12px;
    }

    .commLabProject{
        animation: float 2s ease-in-out infinite;
    }

    .commLab{
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-content: center;
    }

    .commLabRight{
        margin: 0;
        padding-top: 50px;
        padding-bottom: 30px;
        row-gap: 20px;
        column-gap: 2px;
        align-content: center;
        justify-content: center;
    }

    .commLabLeft{
        height: 50vh;
    }

    .footer{
        display: none;
    }

    .projectInfo{
        flex-direction: column;
        padding: 0px 5vw 0px 5vw;
        height: 320px; /* ADJUST THE HEIGHT OF THIS BASED ON THE CONTENT  */
        width: 90vw;
        align-items: center;
        text-align: center;
    }

    .projectText{
        width: 100%;
    }

    .projectImage{
        order: 1;
        width: 75vw;
        height: 20vh;
        border-radius: 15px;
    }

    .myPic{
        width: 150px;
        height: 150px;
    }
    
    .myName{
        height: 20px;
    }

    .moreInfo{
        width: 60vw;
        background-color: lightpink;
        display: grid;
        grid-template-areas:
            "skillls"
            "work"
            "more"
        ;
        padding-left: 5vw;
    }
}